*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
DATA/intern/
DATA
*.nb
*.html
*.nb.html
.Rproj.user
*.pdf
*.csv
*.xlsx
*.xls
codebook.Rmd
*.docx
*.doc
*.png
*.tex
*.log
*.RDS
*.rds
*.pdf
*.PDF
*.jpeg
*.tiff
*.png
*.Renvironment
